<h1>Students</h1>

<%= form_for 'students' do |f| %>
    <%= f.label "Search", :query %>
    <%= f.text_field :query %>
    <%= f.submit %>
<% end %>

<% @students.each do |s| %>
    <%= render partial: 'student', locals: {stu: s} %>
<%end%>